# Web Server
WEB_HOST=localhost
WEB_PORT=3000

# Database
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB=hlf_explorer
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Ledgers
LEDGERS_SETTINGS_PATH=./data/local/ledgers.json

# Logging
LOGGER_LEVEL=3
IS_SYSTEM_LOGS_ENABLED=false

# SSL (optional)
# SSL_CA=<certificate-content>
