[submodule "src/common"]
	path = src/common
	url = https://github.com/ManhattanDoctor/hlf-explorer-common.git
[submodule "src/packages/karma/karma-common"]
	path = src/packages/karma/karma-common
	url = git@gitlab.n-t.io:karma/karma-common.git
